#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  padding-left: 10px;
  float: left;
  font-size: 200%;
  line-height: 2.5;
}

#nav-bar .compose {
  display: block;
  float right;
  height: 50px;
  width: 85px;
  margin: 15px 0 0 570px;
  padding-top: 15px;
  text-align: center;
  color: #00a087;
  background-color: #e7fdff;
  border-color: #000000;
  border-radius: 7px;
}

/* hover pseudo-class */

#nav-bar .compose:hover  {
  color: #000000;
  background-color: #ffffff;
}